@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* mi-componente.component.css */
.svg-background {
    position: relative;
    width: 100%;
    height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 1080'%3E%3Cg transform='rotate(26 960 540) translate(-650.995708300559 -366.1850859190645) scale(1.678120529479749)'%3E%3Crect width='1920' height='1080' fill='rgb(122, 228, 255)'/%3E%3Cg transform='translate(0, 0)'%3E%3Cpath fill='rgb(166, 237, 255)' fill-opacity='1' d='M0,352.943L29.091,350.075C58.182,347.207,116.364,341.471,174.545,340.581C232.727,339.692,290.909,343.65,349.091,344.095C407.273,344.54,465.455,341.472,523.636,303.183C581.818,264.894,640,191.383,698.182,185.175C756.364,178.967,814.545,240.06,872.727,221.336C930.909,202.612,989.091,104.069,1047.273,98.48C1105.455,92.892,1163.636,180.258,1221.818,202.019C1280,223.78,1338.182,179.937,1396.364,139.356C1454.545,98.774,1512.727,61.455,1570.909,80.719C1629.091,99.983,1687.273,175.829,1745.455,189.505C1803.636,203.181,1861.818,154.687,1890.909,130.44L1920,106.192L1920,1080L1890.909,1080C1861.818,1080,1803.636,1080,1745.455,1080C1687.273,1080,1629.091,1080,1570.909,1080C1512.727,1080,1454.545,1080,1396.364,1080C1338.182,1080,1280,1080,1221.818,1080C1163.636,1080,1105.455,1080,1047.273,1080C989.091,1080,930.909,1080,872.727,1080C814.545,1080,756.364,1080,698.182,1080C640,1080,581.818,1080,523.636,1080C465.455,1080,407.273,1080,349.091,1080C290.909,1080,232.727,1080,174.545,1080C116.364,1080,58.182,1080,29.091,1080L0,1080Z'/%3E%3C/g%3E%3Cg transform='translate(0, 360)'%3E%3Cpath fill='rgb(211, 246, 255)' fill-opacity='1' d='M0,106.039L29.091,141.249C58.182,176.458,116.364,246.877,174.545,284.697C232.727,322.517,290.909,327.739,349.091,284.675C407.273,241.611,465.455,150.263,523.636,112.623C581.818,74.983,640,91.052,698.182,126.273C756.364,161.493,814.545,215.866,872.727,254.33C930.909,292.794,989.091,315.35,1047.273,300.514C1105.455,285.679,1163.636,233.452,1221.818,180.313C1280,127.174,1338.182,73.123,1396.364,43.365C1454.545,13.606,1512.727,8.141,1570.909,41.079C1629.091,74.017,1687.273,145.358,1745.455,167.782C1803.636,190.206,1861.818,163.713,1890.909,150.467L1920,137.221L1920,720L1890.909,720C1861.818,720,1803.636,720,1745.455,720C1687.273,720,1629.091,720,1570.909,720C1512.727,720,1454.545,720,1396.364,720C1338.182,720,1280,720,1221.818,720C1163.636,720,1105.455,720,1047.273,720C989.091,720,930.909,720,872.727,720C814.545,720,756.364,720,698.182,720C640,720,581.818,720,523.636,720C465.455,720,407.273,720,349.091,720C290.909,720,232.727,720,174.545,720C116.364,720,58.182,720,29.091,720L0,720Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
  }
  

.container3
{
    width: 90%;
    max-width: 1200px;
   margin: 0 auto;
    overflow: hidden;
    padding: 0px 0;
    height: auto; 
}
/*PRODUCTO venta*/
.container-products {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;  
  }
  .product {
    border: 5px solid #ffeeeee7;
    padding: 20px;
    text-align: center;
    position:relative;
    text-decoration:none;
  }

  .product__img{
    width: 100%;
    height: 120px;
    object-fit:scale-down;
    text-decoration:none;
  }
  .product__title{
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration:none;
  }
  .product:before {
    content: "NEW";
    background: #f77034;
    padding: 9px;
    width: 60px;
    position: absolute;
    top: 11px;
    right: 10px;
    transform: rotate(-90deg);
    color: white;
    text-decoration: none;
}
.product__precio{
    text-align: center;
    color: rgb(255, 0, 0);
    text-decoration:none;
    text-shadow: 0 0 black;
}