<!-- mi-componente.component.html -->
<div class="svg-background">
        <div class="cart-container">
            <h1 class="cart-title">MI CARRITO</h1>
            <a class="cart-button" routerLink="../" style="text-decoration: none;">Seguir comprando</a>
    
            <div #cartTable class="cart-table">
                <div #cartTableHeader class="cart-table-header">
                    <div class="cart-table-cell">Detalles</div>
                    <div class="cart-table-cell">Precio</div>
                    <div class="cart-table-cell">Cantidad</div>
                    <div class="cart-table-cell">Total</div>
                </div>
    
                <div class="div" *ngFor="let item of articulos">
                    <!-- Un botón que se posicione arriba a la derecha de la imagen de la bicicleta y que al darle click se elimine el item del carrito -->
                    <!-- <button  class="eliminar-button" (click)="eliminarItem(item)" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar producto"
                    style="position: relative; width: 100%;background: transparent; border: none; outline: none; text-align: end;" #eliminarButton>
                    
                    <i class="fas fa-times mt-2" style="color: #AC1916; font-size: 20px;"></i>   
                </button> -->
                    <div class="cart-table-row" id="cart-table-row">
                        <div class="cart-table-cell">
                            <div class="cart-item-image">
                                <img [src]="item.imagen" [alt]="item.nombre">
                            </div>
                            <div class="cart-item-specs">
                                <p class="cart-item-name">{{ item.nombre }}</p>
                                <!-- <p class="cart-item-color" style="color:black;">Color: <span style="font-weight: 550;">{{
                                        item.color }}</span></p>
                                <p class="cart-item-size" style="color:black;">Talla: <span style="font-weight: 550;">{{
                                        item.talla }}</span></p> -->
                                <p class="cart-item-stock" *ngIf="item.cantidad < item.stock">En Stock</p>
                                <p class="cart-item-stock" *ngIf="item.cantidad > item.stock ">No hay suficientes
                                    unidades</p>
                            </div>
                        </div>
                        <div class="cart-table-cell">
                            <div class="cart-item-price-details ms-3">
                                <span class="current-price"><br>{{
                                        item.precio |
                                        currency:'COP' }}</span>
                            </div>
                        </div>
                        <div class="cart-table-cell">
                            <div class="cart-item-quantity-control" style="display: flex; flex-direction: column;">
                                <div class="div" style="display: flex; align-items: center;">
                                    <button class="quantity-button" (click)="restarCantidad(item)">-</button>
                                    <span class="quantity-number">{{ item.cantidad }}</span>
                                    <button class="quantity-button" (click)="sumarCantidad(item)" [disabled]="item.cantidad > item.stock">+</button>
                                </div>
                                <div class="div">
                                    <button class="remove-button mt-2" (click)="resetearCantidad(item)"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Resetear cantidad">
                                        <mat-icon style="display: flex; justify-content: center;">delete</mat-icon></button>
                                </div>
                            </div>
                        </div>
                        <!-- Modena colombia COP -->
                        <div class="cart-table-cell total">
                            <span style="color: #AC1916; font-weight: bold;">{{ (item.precio *
                                item.cantidad) | currency:'COP' }}</span>
                            <button class="eliminar-button" (click)="eliminarItem(item)" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Eliminar producto"
                                style="position: absolute; right: 0; background: transparent; border: none; outline: none; text-align: end; top: 0;">
                                <i class="fas fa-times mt-2" style="color: #AC1916; font-size: 20px;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Agregar una nota al pedido -->
            <div class="cart-note">
                <div class="div mt-5 h-100">
                    <p class="note-title">Agrega una nota a tu pedido</p>
                    <mat-form-field appearance="outline" class="w-100">
                        <!-- Le quitamos el * al required para que no se muestre el asterisco -->
                        <mat-label>Nota</mat-label>
                        <textarea matInput placeholder="Déjanos un comentario" required></textarea>
                    </mat-form-field>
                </div>
                <div class="div h-100">
                    <div class="note-subtotal">
                        <p style="text-align: center; font-weight: 600; color: black;">Subtotal: <span class="subtotal"
                                style="color: #A9100C; margin-left: 7%;">{{ subtotal | currency:'COP' }}</span></p>
                        <p class="text-center">IVA incluido. Envío y descuentos agregados al ir a pagar.</p>
                    </div>
                    <div class="note-accept-terms d-flex justify-content-center">
                        <mat-radio-button class="example-margin" value="1" required color="warn">Acepto los <a href="#"
                                style="font-style: italic; color: black;">Términos y Condiciones</a></mat-radio-button>
                    </div>
                    <div class="note-buttons">
                        <!-- <button class="transparent-button">Aplicar cupón de descuento</button> -->
                        <button class="red-button">Ir a pagar</button>
                    </div>
                    <p class="note-delivery-info text-center">
                        Tiempo de entrega 5 a 15 días hábiles<br>
                        <a class="info-link" style="color: black;">Consulta más aquí</a>
                    </p>
                </div>
            </div>
    
            <!-- Contáctanos -->
            <div class="contact-info">
                <p class="contact-title">Contáctanos</p>
                <p class="contact-parrafo">Contáctanos en el servicio al cliente al 3222302356</p>
            </div>
        </div>
</div>