<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li>
                    <!-- Agregar carrito -->
                    <a routerLink="Carrito"><mat-icon  [matBadge]="servicioComunicacion.carroCompras.length" matBadgeColor="warn">shopping_cart</mat-icon></a>
                </li>
                <li>
                    <a (click)="cerrarSesion()" style="cursor: pointer;">
                        <mat-icon>logout</mat-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>